<ul>
    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
    <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
    <li><a href="{{ path('offer_new') }}">New Offer</a></li>
    <li><a href="{{ path('category_index') }}">All Categories</a></li>
</ul>