<div>
    <h4>Categories list</h4>
    {% for category in categories %}
        <ul>
            {% if not category.parent %}
                <li class=""><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.name }}</a>
                    <ul>
                        {% for category in category.children %}
                            <li class="">
                                <a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        </ul>
    {% endfor %}
</div>