{% extends 'bootstrap.html.twig' %}
{% block left %}
    {{ render(controller("AppBundle:Category:listAllCategories")) }}
{% endblock %}
{% block center %}
    <h1>Category {{ category.name }}</h1>
    {{ render(controller("AppBundle:Offer:showAllInCategory", {'id':category.id})) }}
{% endblock %}
