<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
{{ include('navbar.html.twig') }}

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            {% block left %}
            {% endblock %}
        </div>
        <div class="col-sm-8 text-left">
            {% block center %}
            {% endblock %}
        </div>
        <div class="col-sm-2 sidenav">
            {% block right %}
            {% endblock %}
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>

</body>
</html>
